<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Запретить доступ к файлам и каталогам
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Перенаправить все запросы на index.html
    RewriteRule ^ index.html [QSA,L]
</IfModule>