.btn-content {
  gap: 30px;
}

.btn-content .button-primary {
  width: 200px;
  height: 85px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-btn-wrap {
  display: none;
}
.btn-wrap{
  display: flex;
  justify-content: center;
  gap: 15px;
}
.support-area h3 {
  font-size: 26px;
}
.search-icon {
  margin: 10px 0;
}
.first-card{
  font-size: 20px;
}
.fixed-header .slicknav_nav {
  height: 100vh !important;
}
.start-center {
  align-items: center;
}
.up-img {
  height: 120%;
}
.bottom-header-content {
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .bottom-header-content {
    justify-content: center;
  }
  .start-center {
    align-items: start;
  }
  .contact-content {
    justify-content: center;
    gap: 90px;
  }
  .contact-icons {
    display: flex;
    justify-content: center;
  }
}
.contact-section-right {
  display: flex;
  flex-direction: column;
  gap: 90px;
  transform: translateY(-60px);
}
.banner-inner-wrap {
  background-size: cover;
}
.up-img {
  background-position: center -150px;
}
@media screen and (max-width: 630px) {
  .counting-content {
    flex-direction: column;
    align-items: center;
  }
  .counter-item {
    width: 100% !important;
  }
  .support-area {
    flex-direction: column;
    text-align: center;
  }
  .support-icon img {
    margin: 0 0 10px 10px;
  }
  .btn-content {
    flex-direction: column;
  }
  .bottom-header {
    display: flex;
    align-items: center;
  }

  .footer-logo img {
    transform: scale(1);
  }
}
.white-logo,.black-logo, .footer-logo{
  transform: scale(0.85);
}
.adress {
  font-size: 13px;
}
.all-content {
  padding-top: 30px;
}
.banner-content .text-center {
  max-width: 200px !important;
  width: 100%;
}
.meta-cat {
  text-transform: uppercase;
}
.top-footer {
  padding-top: 30px;
}
.not-found-page {
  height: 90.35vh;
}
.lh {
  line-height: 25px;
}
.main-navigation ul > li.lang-child ul.lang-li li a {
  &.activeLang {
    font-weight: 700;
    cursor: unset;
    color: white;
    background: #f56960;
    &:hover {
      background: #f56960;
      padding-left: 20px;
    }
  }
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.main-nav {
  justify-content: space-between;
}
.cards-mob {
  justify-content: center;
}
.desti-image {
  display: block;
}
.direction-pages {
  display: flex;
  align-items: center;
}
.site {
  &-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &-title {
    padding: 15px 0;
  }
}
.included-lists {
  list-style: disc;
  margin: 0 0 0 30px;
  & span {
    font-size: 16px;
    font-weight: 500;
  }
}
.places {
  &-content {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 30px;
  }
  &-card {
    max-width: 360px;
    width: 100%;
    transition: all 300ms ease-in-out;
    overflow: hidden;
    &__text {
      padding: 5px;
    }
    &__body {
      display: flex;
      align-items: flex-end;
      min-height: 200px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      & h3 {
        padding-left: 10px;
        color: white;
      }
    }
    &:hover {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      border-radius: 30px;
    }
  }
  &-descr {
    text-align: center;
    width: 100%;
  }
}
.not-found-404 {
  height: 90.1vh;
}
.mobile-nav {
  display: none;
  &-ul{
    list-style: none;
  }
}
.lang-child {
  & a {
    text-transform: uppercase;
  }
  text-transform: uppercase;
}
.burger-icon {
  display: none;
}
.fixed-header .black-logo {
  display: block;
}
.fixed-header .white-logo {
  display: none;
}
.amount {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  gap: 15px;
  &-payment{
    display: flex;
    gap: 30px;
  }
  &-errors{
    color: white;
    &-title{
      font-size: 28px;
      color: white;
    }
    &-list{
      font-size: 18px;
      &s{
        list-style: none;
      }
    }
  }
  &-bg{
    height: 100vh;
  }
  &-paywith{
    color: white;
    font-size: 24px;
  }
  &-title{
    color: white;
    text-align: center;
  }
  &__input{
    display: block;
    border: 2px solid gray !important;
    width: 20em;
    border-radius: 15px !important;
  }
  &__btn {
      height: 50px;
      border: none;
      border-radius: 15px;
      width: 100px;
      display: flex;
      padding: 5px;
      align-items: center;
      background: white;
      overflow: hidden;
  }
  &-btns {
    display: flex;
    justify-content: space-between;
    transform: translateX(-20%);
    gap: 10px;
  }
  &-inputs{
    &-left{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &-content{
      display: flex;
      justify-content: space-between;
      gap: 60px;
      & textarea{
        width: 250px;
        height: 150px;
      }
    }
  }

  &__label {
    background: white;
    padding: 12px;
    border-radius: 10px 0 0 10px;
    margin-bottom: 0;
    &-back {
      border-radius: 0 10px 10px 0;
    }
  }
}
.no-content-section{
  padding-bottom: 189px;
}