.btn-content{
    gap: 30px;
}

.btn-content .button-primary{
    width: 200px;
    height: 85px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-btn-wrap{
    display: none;
}
.support-area h3 {
    font-size: 26px;
}
.search-icon{
    margin: 10px 0;
}

.fixed-header .slicknav_nav{
    height: 100vh !important;
}
.start-center{
    align-items: center;
}
.up-img{
    height: 120%;
}
.bottom-header-content{
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:992px) {
    .bottom-header-content{
        justify-content: center;
    }
    .start-center{
        align-items: start;
    }
    .contact-content{
        justify-content: center;
        gap: 90px;
    }
    .contact-icons{
        display: flex;
        justify-content: center;
    }
}
.contact-section-right{
    display: flex;
    flex-direction: column;
    gap: 90px;
    transform: translateY(-60px);
}
.banner-inner-wrap{
    background-size: cover;
}
.up-img{
    background-position: center -150px;
}
@media screen and (max-width:630px) {
    .counting-content{
        flex-direction: column;
        align-items: center;
    }
    .counter-item{
        width: 100% !important;
    }
    .support-area{
        flex-direction: column;
        text-align: center;
    }
    .support-icon img{
        margin: 0 0 10px 10px;
    }
    .btn-content{
    flex-direction: column;
    }
    .bottom-header{
        display: flex;
        align-items: center;
    }

    .footer-logo img {transform: scale(1);}
}
.white-logo{
    height: 100%;

}
.adress{
    font-size: 13px;
}
.all-content{
    padding-top: 30px;
}
.banner-content .text-center{
    max-width: 200px !important;
    width: 100%;
}
.meta-cat{
    text-transform: uppercase;
}
.top-footer{
    padding-top: 30px;
}
.not-found-page{
    height: 90.35vh;
}
.lh{
    line-height: 25px;
}
.main-navigation ul>li.lang-child ul.lang-li li a{
    &.activeLang{
        font-weight: 700;
        cursor: unset;
        color: white;
        background: #F56960;
        &:hover{
            background: #F56960;
            padding-left: 20px;
        }
    }
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}
ul.lang-li{
    width: 100px !important;
    & a.activeLang{

    }
}

.main-nav{
    justify-content: space-between;
}
