@media(max-width:1100px){
    .home-slider .home-banner-items .banner-content-wrap {
        height: 500px;
    }
    .home-slider {
        height: 500px;
    }

}

@media (max-width:992px) {
    .burger-icon{
        display: block;
    }
    .header-search-icon .burger-icon:hover{
        color: white;

    }
    .mobile-nav{
        position: fixed;
        background: white;
        right: -100%;
        top: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        transition: all 300ms ease-in-out;
        &-lists{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        &-link, .lang-child a{
            color: black;
            font-size: 24px;
            font-weight: 700;
            text-align: center;
        }
        & .lang-li {

            list-style: none;
            & .activeLang{
                background: #F56960;
                padding: 5px;
                color: white;
                cursor: none;
            }
        }
    }
    .lang-li{
        position: relative;
        transition: all 500ms ease-in-out;
        bottom: -1000%;
        &.active{
            bottom: 0;
        }
    }
    .lang-child{
        z-index: 99999;
    }
    .mobile-nav.active{
        right: 0;
    }
    .main-nav{
        justify-content: center;
    }
    .space-top{
        display: none;
    }
    .no-content-wrap{
        height: 60vh;
        display: flex;
        gap: 30px;
        flex-direction: column;
        justify-content: center;
    }
    .no-content-wrap h1{
        position: static;
        top: 0;
        transform: translate(0, 0);
    }
    .no-content-wrap h4{
        margin-top: 15px;
    }
}
@media (max-width:768px) {
    .no-content-wrap h1{
        position: static;
        font-size: 64px;
        top: 0;
        transform: translate(0, 0);
    }
    .cards-mob{
        flex-direction: column;
    }
}
@media (max-width:576px) {
    .no-content-wrap{
        height: 60vh;
        display: flex;
        gap: 30px;
        flex-direction: column;
        justify-content: center;
        margin-top: 15%;
    }
    #colophon{
        background-color:  #404040;

    }
}
@media screen and (max-width:400px) {
    .included-lists{
        margin: 0 15px;
    }
    .no-content-wrap h1{
        font-size: 22px;
    }
    .places-descr{
        font-size: 15px;
    }
    .site-title{
        font-size: 18px;
    }
    .included-lists span{
        font-size: 14px;
    }
    .no-content-wrap{
        height: 50vh;
        margin-top: 0;
        /* justify-content: flex-start; */
        gap: 0;
    }
    .not-found-page{
        height: 60vh;
    }
    .no-content-wrap h4{
        font-size: 14px;
    }
    .no-content-wrap .title-sm{
        font-size: 34px;
    }
}