@media(max-width:1100px){
    .contacts{
        height: 100%;
        padding-top: 60%;
        padding-bottom: 50%;
        &-title{
            text-align: center;
            margin-bottom: 20px;
        }
        &-left{
            gap: 30px ;
            align-items: center;
            text-align: center;
        }
        &-content{
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;

        }
    }
    .home-slider .home-banner-items .banner-content-wrap {
        height: 500px;
    }
    .home-slider {
        height: 500px;
    }

}
@media screen and (max-width: 992px) {
    .bottom-header-content {
      justify-content: center;
    }
    .start-center {
      align-items: start;
    }
    .contact-content {
      justify-content: center;
      gap: 90px;
    }
    .contact-icons {
      display: flex;
      justify-content: center;
    }
  }

@media (max-width:992px) {
    .contacts{
        padding-top: 77%;
        padding-bottom: 58%;
    }
    .footer-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px 20px;
        justify-content: center;
        text-align: center;
        & li{
          padding: 0 !important;
        }
      }
    .navigation{
        display: none;
    }
    .burger-icon{
        display: block;
    }
    .header-search-icon .burger-icon:hover{
        color: white;

    }
    .mobile-nav{
        position: fixed;
        background: white;
        right: -100%;
        top: 0;
        z-index: 999999999;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        transition: all 300ms ease-in-out;
        &-lists{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        &-link, .lang-child a{
            color: black;
            font-size: 24px;
            font-weight: 700;
            text-align: center;
        }
        & .lang-li {

            list-style: none;
            & .activeLang{
                background: #F56960;
                padding: 5px;
                color: white;
                cursor: none;
            }
        }
    }
    .lang-li{
        position: relative;
        transition: all 500ms ease-in-out;
        bottom: -1000%;
        &.active{
            bottom: 0;
        }
    }
    .lang-child{
        z-index: 99999;
    }
    .mobile-nav.active{
        right: 0;
    }
    .main-nav{
        justify-content: center;
    }
    .space-top{
        display: none;
    }
    .no-content-wrap{
        height: 60vh;
        display: flex;
        gap: 30px;
        flex-direction: column;
        justify-content: center;
    }
    .no-content-wrap h1{
        position: static;
        top: 0;
        transform: translate(0, 0);
    }
    .no-content-wrap h4{
        margin-top: 15px;
    }
}
@media (max-width:768px) {
    .contacts{
        padding-top: 90%;
        padding-bottom: 75%;
    }
    .no-content-wrap h1{
        position: static;
        font-size: 64px;
        top: 0;
        transform: translate(0, 0);
    }
    .cards-mob{
        flex-direction: column;
    }
    .header-primary.fixed-header{
        position: fixed;
        background: white;
        & i{
            color: black;
        }
    }
    .amount{
        &-paywith{
            margin-bottom: 30px;
        }
        &-inputs-content{
            margin-bottom: 30px;
            flex-direction: column;
            align-items: center;
        }
        &-errors-title{
            font-size: 20px;
        }
    }
    .no-content-section{
        padding-bottom: 0;
        height: 100%;
    }
}
@media screen and (max-width: 630px) {
    .contacts{
        padding-top: 90%;
        padding-bottom: 100%;
        &-right{
            width: 100%;
            height: 30%;
        }
    }
    .contacts{
        &-title{
            font-size: 38px;
        }
        &-sub-title{
            font-size: 24px;
        }
        &-link{
            justify-content: center;
        }
        & a{
            font-size: 18px;
        }
    }
    .counting-content {
      flex-direction: column;
      align-items: center;
    }
    .counter-item {
      width: 100% !important;
    }
    .support-area {
      flex-direction: column;
      text-align: center;
    }
    .support-icon img {
      margin: 0 0 10px 10px;
    }
    .btn-content {
      flex-direction: column;
    }
    .bottom-header {
      display: flex;
      gap: 50px;
      align-items: center;
    }

    .footer-logo img {
      transform: scale(1);
    }
  }
@media (max-width:576px) {
    .contacts{
        padding-top: 140%;
        padding-bottom: 150%;
    }
    .amount{
        &-btns{
            transform: translateY(-180%);

        }
    }
    .no-content-wrap{
        height: 60vh;
        display: flex;
        gap: 30px;
        flex-direction: column;
        justify-content: center;
        margin-top: 15%;
    }
    #colophon{
        background-color:  #404040;

    }
}
@media screen and (max-width:400px) {
    .contacts{
        padding-top: 180%;
        padding-bottom: 140%;
        &-right{
            height: 300px;
            & iframe{
                height: 300px;

            }
        }
        &-title{
            font-size: 28px;
        }
        &-sub-title{
            font-size: 18px;
        }
        &-link a{
            font-size: 16px;
        }
    }
    .amount{
        &-paywith{
            & h3{
                font-size: 20px;
                text-align: center;
            }
        }
        &-errors{
            text-align: center;
        }
    }
    .included-lists{
        margin: 0 15px;
    }
    .no-content-wrap h1{
        font-size: 22px;
    }
    .places-descr{
        font-size: 15px;
    }
    .site-title{
        font-size: 18px;
    }
    .included-lists span{
        font-size: 14px;
    }
    .no-content-wrap{
        height: 50vh;
        margin-top: 0;
        /* justify-content: flex-start; */
        gap: 0;
    }
    .not-found-page{
        height: 60vh;
    }
    .no-content-wrap h4{
        font-size: 14px;
    }
    .no-content-wrap .title-sm{
        font-size: 34px;
    }
}